In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# only used in google colab
# from google.colab import files
# uploaded = files.upload()
# use this in google colab
ml_25 = pd.read_csv('movies.dat')
# ml_25 = pd.read_csv('./ml-25m/movies.csv')
ml_25.columns

ParserError: Error tokenizing data. C error: Expected 1 fields in line 11, saw 2

In [ ]:
ml_25_movies = ml_25[['movieId','title']]

In [ ]:
import re
ml_25_title = list(ml_25_movies['title'].values)
# ml_25_name = [x[0].strip() for x in ml_25_title]
ml_year=[]
for index,titles in enumerate(ml_25_title):
#         print(titles)
        year = re.findall(r'\(([1-3][0-9]{3})\)',titles) 
        ml_year.append(year[0]) if len(year)>0 else ml_year.append(None)
        titles = titles.split('(')[0].strip()
        ml_25.at[index,'title']=titles
ml_year
df_year = pd.DataFrame(ml_year,columns=['Year'])
ml_25['year'] = df_year

In [ ]:
# # Only use this in google colab 
# from google.colab import files
# uploaded = files.upload()

KeyboardInterrupt: ignored

In [ ]:
tmdb_df = pd.read_csv('TMDB.txt',sep=',')
len(tmdb_df['original_title'].unique())

10531

***Loại bỏ các thuộc tính không cần thiết: release_date, vote_count,vote_average,budget_adj,revenue_adj***

In [ ]:
columns = ['homepage','release_date', 'vote_count','vote_average','budget_adj','revenue_adj','keywords']
tmdb_df = tmdb_df.drop(columns,axis=1)

In [ ]:
tmdb_df['overview']

0        Twenty-two years after the events of Jurassic ...
1        An apocalyptic story set in the furthest reach...
2        Beatrice Prior must confront her inner demons ...
3        Thirty years after defeating the Galactic Empi...
4        Deckard Shaw seeks revenge against Dominic Tor...
                               ...
10817    Martin Scorsese's rockumentary intertwines foo...
10818    When a suburban couple go camping for the week...
10819    Burt Reynolds plays a legendary stunt man know...
10820    Bitter and hateful, the Grinch is irritated at...
10821                                                  NaN
Name: overview, Length: 10822, dtype: object

***Kiểm tra các giá trị rỗng***

In [ ]:
tmdb_df.isnull().sum().sort_values(ascending=False)

tagline                 2818
production_companies    1029
cast                      76
director                  44
genres                    24
imdb_id                   10
overview                   5
release_year               1
runtime                    1
original_title             0
revenue                    0
budget                     0
popularity                 0
id                         0
dtype: int64

***Loại bỏ các phim trùng bằng cách bỏ phim có thời gian ra mắt lâu hơn, do các phim cũ thường sẽ ít đánh giá hơn***

In [ ]:
null_movie = tmdb_df[tmdb_df['release_year'].isnull()==True].index

In [ ]:
for null_mov in null_movie:
  tmdb_df = tmdb_df.drop(null_mov,axis=0)

In [ ]:
tmdb_df['release_year'] = tmdb_df['release_year'].astype('int64')
tmdb_df['release_year'].count()

10821

In [ ]:
tmdb_df['original_title'].value_counts()

Hamlet                                                         4
Emma                                                           3
The Black Hole                                                 3
Shelter                                                        3
The Three Musketeers                                           3
                                                              ..
Le Silence de Lorna                                            1
Ordinary Decent Criminal                                       1
Mickey's Magical Christmas: Snowed in at the House of Mouse    1
Summer of '42                                                  1
360                                                            1
Name: original_title, Length: 10530, dtype: int64

In [ ]:
count=0
for title in tmdb_df['original_title'].unique():
  title_years = list(tmdb_df[tmdb_df['original_title']==title]['release_year'].values)
  # if len(title_years) > 1: print(max(title_years))
  if len(title_years) > 1:
     title_years.remove(max(title_years))
     count+=len(title_years)
     for year in title_years:
      index = tmdb_df[(tmdb_df['original_title'] == title) & (tmdb_df['release_year'] == year)].index
      tmdb_df = tmdb_df.drop(index)

***Kiểm tra lại sau khi loại bỏ các phim trùng***

In [ ]:
tmdb_df['original_title'].value_counts().sum()

10527

***Tách phim, năm ra để xử lý***

In [ ]:
ml_25_movies = ml_25[['title','year']]
tmdb_movies = tmdb_df[['original_title','release_year']]
tmdb_movies.count()

original_title    10527
release_year      10527
dtype: int64

***Hàm tính số phim trùng***

In [ ]:
def sim_rate(df1,df2):
    similar=[]
    for title in df1:
        if str(title) in  df2:
            similar.append(1)
        else:
            similar.append(0)
    return (similar.count(1),similar.count(0))

***Đổi type của year để so sánh***

In [ ]:
ml_25['year'] =ml_25['year'].astype('str')

***Khởi tạo các cột thuộc tính của dataset tmdb***

In [ ]:
extra_cols = ['cast', 'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies']
for col in extra_cols:
    ml_25[col] = 'None'
ml_25

       movieId                        title  ... runtime production_companies
0            1                    Toy Story  ...    None                 None
1            2                      Jumanji  ...    None                 None
2            3             Grumpier Old Men  ...    None                 None
3            4            Waiting to Exhale  ...    None                 None
4            5  Father of the Bride Part II  ...    None                 None
...        ...                          ...  ...     ...                  ...
62418   209157                           We  ...    None                 None
62419   209159           Window of the Soul  ...    None                 None
62420   209163                    Bad Poems  ...    None                 None
62421   209169                 A Girl Thing  ...    None                 None
62422   209171      Women of Devil's Island  ...    None                 None

[62423 rows x 10 columns]

***Tìm các phim giống nhau giữa 2 dataset và tiến hành kết hợp***

In [ ]:
# sim_rate(list(tmdb_movies['original_title']),list(ml_25_movies['title']))
count=0
for title in tmdb_movies['original_title']:
     year = tmdb_movies[tmdb_movies['original_title']==title]['release_year'].values[0]
     found = ml_25_movies[ml_25_movies['title']==title]
     final_found = found[found['year']==str(year)].index.values
    #  print(final_found)
     if len(final_found) != 0:
      extra_infos = list(tmdb_df.loc[tmdb_df[tmdb_df['original_title']==title].index.values[0],extra_cols])
      ml_25.loc[final_found[0],extra_cols] = extra_infos
      count+=1
    #  print(title)
    #  print(ml_25_movies[ml_25_movies['title']==title])
count

7075

In [ ]:
ml_25.head()

   movieId  ...                               production_companies
0        1  ...       Walt Disney Pictures|Pixar Animation Studios
1        2  ...  TriStar Pictures|Teitler Film|Interscope Commu...
2        3  ...                        Warner Bros.|Lancaster Gate
3        4  ...             Twentieth Century Fox Film Corporation
4        5  ...          Sandollar Productions|Touchstone Pictures

[5 rows x 10 columns]

In [ ]:
extra_infos = list(tmdb_df.loc[tmdb_df[tmdb_df['original_title']==title].index.values[0],extra_cols])
ml_25.loc[final_found.index.values[0], extra_cols] = extra_infos

AttributeError: ignored

tmdb_df[tmdb_df['original_title']=='The Lobster']['release_year']

In [ ]:
ml_25

       movieId  ...                               production_companies
0            1  ...       Walt Disney Pictures|Pixar Animation Studios
1            2  ...  TriStar Pictures|Teitler Film|Interscope Commu...
2            3  ...                        Warner Bros.|Lancaster Gate
3            4  ...             Twentieth Century Fox Film Corporation
4            5  ...          Sandollar Productions|Touchstone Pictures
...        ...  ...                                                ...
62418   209157  ...                                               None
62419   209159  ...                                               None
62420   209163  ...                                               None
62421   209169  ...                                               None
62422   209171  ...                                               None

[62423 rows x 10 columns]

In [ ]:
ml_25.to_csv('df.csv', index=False)

In [ ]:
ratings = pd.read_csv('./ml-25m/ratings.csv')
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')